body{
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.row-nocol{margin-left:0px;margin-right:0px;}
.btn-group{width:100%;}
.wysiwyg-toolbar > .btn-group{width:auto;}
/*��ѯ�?��ť*/
form.lookup .form-btn-bar{display:inline-block;}
.ace-switch + .lbl{font-size:12px;}
/*ҳ�涯����ť��*/
.action-bar{padding-right:4em;margin-bottom:0.4em;}
td > img[data-src]{height:1.7em;}
/*��ҳ��*/
.pager-form{margin-top:0.5em;}
.pager-form .pagination{margin:0em;}
.pager-form .pager-list li{cursor:pointer;}
.input-xs{padding-top:2px !important;padding-bottom:2px !important;height:2em !important;}
/*ģ̬�Ի���*/
.modal .modal-loading{display:none;width:64px;height:64px;margin:0em auto;background-image:url(../img/loading.gif);background-size:100% 100%;}
.modal.loading .modal-loading{display:block;}
.modal.loading .modal-body{display:none;}
/*���ļ��ϴ�Ԥ��*/
.preview > .preview-item{
    width:10em;
    float:left;
    margin:0px 0.5em 0.5em;
}
.preview > .preview-item > .close{
    color:red;
}

/*ace fixed*/
.breadcrumbs-fixed + .page-content{
    margin-top:45px;
}

.alert{
    width:98%;
    margin-left:auto;
    margin-right:auto;
}
hr{
margin:5px 0;
}
.action-bar .btn-success{
  width:196px;
}

.action-bar .btn-save{
  width:100px;
}

.btn-save, .btn-save:focus {
    background-color: #87b87f !important;
    border-color: #87b87f;
}

.title{
	width:360px;
	height:40px;
	margin:20px auto;
}
.login_logo{
	float:left;
	width:50px;
	height:50px;
	background:url('../img/logo_red_small.png') no-repeat;
}
.h1{
	float:left;
	text-align:left;
	line-height:50px;
	color:#DA251C;
	font-family:'����';
	text-shadow:1px 1px 1px #DB7D78;
}
.form-control:focus, select:focus {border-color: #00C5FF;}
.form-group > label[class*="col-"] {padding-top:0;margin-bottom:0;height:34px;line-height:34px;}
label{height: 34px;line-height: 34px;}
input[type="file"] {height: 34px;line-height: 34px;}
.form-group .col-sm-5 label{cursor: pointer;}
input[type="checkbox"] {vertical-align: text-bottom;height: 14px;}





